asn1crypto==0.24.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cryptography==2.6.1
Django==2.2.27
Flask==1.0.3
Flask-MySQL==1.4.0
get==2019.4.13
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.16.4
pipenv==2018.11.26
post==2019.4.13
public==2019.4.13
pycosat==0.6.3
pycparser==2.19
PyMySQL==0.9.3
pyOpenSSL==19.0.0
PySocks==1.6.8
pytz==2019.1
query-string==2019.4.13
request==2019.4.13
requests==2.21.0
ruamel-yaml==0.15.46
six==1.12.0
sqlparse==0.3.0
urllib3==1.24.1
virtualenv==16.7.0
virtualenv-clone==0.5.3
Werkzeug==0.15.4
win-inet-pton==1.1.0
wincertstore==0.2
