{% include "Header.html" %}

<div class="col-lg-12 col-xlg-9 col-md-7">
    <div class="card">
        <!-- Tab panes -->
        <div class="card-body">
            <form class="form-horizontal form-material">
                <div class="form-group">
                    <label class="col-md-12">Nombre</label>
                    <div class="col-md-12">
                        <input id="txtNombre" name="txtNombre" type="text" placeholder="Nombre.." class="form-control form-control-line">
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-md-12">Apellidos</label>
                        <div class="col-md-12">
                            <input id="txtApellidos" name="txtApellidos" type="text" placeholder="Apellidos.." class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-12">Usuario</label>
                            <div class="col-md-12">
                                <input id="txtUsuario" name="txtUsuario" type="text" placeholder="Usuario.." class="form-control form-control-line">
                            </div>
                        </div>
                <div class="form-group">
                    <label for="example-email" class="col-md-12">Correo</label>
                    <div class="col-md-12">
                        <input type="email" placeholder="ejemplo@gmail.com" class="form-control form-control-line" name="txtCorreo" id="txtCorreo">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Password</label>
                    <div class="col-md-12">
                        <input type="password" name="txtPassWord" id="txtPassWord" class="form-control form-control-line">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Dirección</label>
                    <div class="col-md-12">
                        <textarea name="txtDireccion" id="txtDireccion" rows="5" class="form-control form-control-line"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Telefono</label>
                    <div class="col-md-12">
                        <input type="text" id="txtTelefono" name="txtTelefono" placeholder="123 456 7890" class="form-control form-control-line">
                    </div>
                </div>
               
                <div class="form-group">
                        <label class="col-md-12">Status</label>
                        <div class="col-md-12">
                            <input type="text" id="txtStatus" name="txtStatus" placeholder="123 456 7890" class="form-control form-control-line">
                        </div>
                  </div>
                <div class="form-group">
                    <label class="col-sm-12">Select Country</label>
                    <div class="col-sm-12">
                        <select name="sltipo" id="sltipo" class="form-control form-control-line">
                            <option value="1">London</option>
                            <option value="1">India</option>
                            <option value="1">Usa</option>
                            <option value="1">Canada</option>
                            <option value="1">Thailand</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-success" id="btnSave" name="btnSave">Update Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
 <script>
      window.onload = function() {
   var btnSave = document.getElementById("btnSave");
   btnSave.onclick=function(){
       var nombre=$("#txtNombre").val();
       var Apellidos=$("#txtApellidos").val();
       var Correo=$("#txtCorreo").val();
       var usuario=$("#txtUsuario").val();
       var contrasena=$("#txtPassWord").val();
       var dirreccion=$("#txtDireccion").val();
       var Telefono=$("#txtTelefono").val();
       var fechareg=Date.now();
       var estatus="1";
       var idtipousuario=$("#sltipo").val();
       var arrayData=[{"idUsuario":23, "nombre" : nombre, "apellido" : Apellidos, "correo" : Correo, "usuario" : usuario, "password" : contrasena, "direccion" : dirreccion,"telefono":Telefono, "fechaReg" : "09/09/2019", "estatus" : "activo","tipo":"1","idTipoUsuario":idtipousuario}];
       alert(JSON.stringify(arrayData));
       $.ajax({
           url: 'http://127.0.0.1:3000/insertUser',
           dataType: 'json',
           type: 'POST',
           headers: {'Access-Control-Allow-Origin': 'http://127.0.0.1:3000/insertUser'},
           contentType: 'application/json',
           crossDomain: true,
           data:JSON.stringify({"idUsuario":47, "nombre" : nombre, "apellido" : Apellidos, "correo" : Correo, "usuario" : "usuario", "password" : "contrasena", "direccion" : dirreccion,"telefono":telefono, "fechaReg" : "09/09/2019", "estatus" : "activo","tipo":"1","idTipoUsuario":"1"}) ,
           processData: true,
           success: function (data, textStatus, jQxhr) {
               alert("dd");
              // $('#response pre').html(JSON.stringify(data));
           },
           error: function (jqXhr, textStatus, errorThrown) {
               console.log(errorThrown);
               alert(errorThrown);
           }
       });
       
   
   };
};
 </script>           
{% extends "footer.html" %}    